# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Lambda paketi — generišu se automatski pri terraform apply
src/**/*.zip

# Python
__pycache__/
*.pyc
.venv/
venv/

# Okruženje
.env

# OS
.DS_Store
